@import "./vars";

$img-size: 17vh;
$img-max: 150px;

.albums {
  padding: 0 2rem;
  margin: 0 3rem;
  margin-bottom: 6rem;
}

.content {
  @include flex-box(flex-start, flex-start);

  width: 100%;
  flex-wrap: wrap;
}

.album {
  @include flex-box($direction: column);

  margin: 2rem 3rem;
  flex: 1;
}

.album-img {
  height: $img-size;
  width: $img-size;
  max-height: $img-max;
  max-width: $img-max;
  border-radius: 0.6rem;
  cursor: pointer;
  user-select: none;

  &.mozaic {
    @include flex-box;
    flex-wrap: wrap;
    overflow: hidden;

    img {
      width: $img-size / 2;
      height: $img-size / 2;
      max-width: $img-max / 2;
      max-height: $img-max / 2;
    }
  }
}

.album-title {
  margin-top: 0.6rem;
  width: $size + 2vh;
  max-width: $max + 20px;
  font-weight: 600;
  text-align: center;
}

.album-header {
  @include flex-box(flex-start);

  margin-left: 15%;
  margin-bottom: 2rem;

  .header {
    margin: 0;
    margin-left: 4rem;
  }

  img {
    cursor: auto;
  }
}
