@import "./vars";

.home {
  max-width: 1000px;
  margin: auto;
}

.top-list {
  @include flex-box(space-evenly, flex-start);

  width: 100%;
  margin-bottom: 15%;
}

.last {
  margin-bottom: 0;
}

$size: 14vh;
$max: 120px;

.top {
  height: $size;
  width: $size;
  max-height: $max;
  max-width: $max;
  border-radius: 0.6rem;
  cursor: pointer;
}

.top-title {
  margin-top: 0.6rem;
  width: $size + 2vh;
  max-width: $max + 20px;
  font-weight: 600;
  text-align: center;
}

.top-song {
  @include flex-box($direction: column);
}
