@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap");
@import "./vars";
@import "./navbar";
@import "./song";
@import "./music";
@import "./progressbar";
@import "./settings";
@import "./player";
@import "./home";
@import "./albums";
@import "./loader";
@import "./animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Raleway;
  // overflow-x: hidden;

  &:focus {
    outline: none;
  }

  &::selection {
    background-color: #dfdfdf69;
  }
}

::-webkit-scrollbar {
  width: 0.7rem;
  position: fixed;
}

::-webkit-scrollbar-track {
  background-color: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: $bgl;
}

html,
body,
#root,
main {
  min-height: 100vh;
  background: $bg;
  overflow: hidden;
}

.header {
  font-size: 3.2rem;
  margin-left: 15%;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  max-width: 70%;
  border-radius: 1.2rem;
  box-shadow: 0.25rem 0.3rem 10px 0.2rem rgba(0, 0, 0, 0.32), -0.25rem -0.3rem 10px 0.2rem rgba(255, 255, 255, 0.04);
}

.no-results {
  font-size: 1.3rem;
  margin: 2rem;
}

main > div {
  position: relative;
  top: 4rem;
  // padding-top: 2rem;
  height: calc(100vh - 4rem);
  transition: 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  overflow-y: auto;
}

img {
  max-height: 90%;
  max-width: 90%;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
}

p {
  text-decoration: none;
  outline: none;
  border: none;
}

hr {
  height: 2px;
  width: 80%;
  background-color: #dfdfdf69;
  border: none;
  margin: 3rem auto 4rem auto;
}

button {
  background: none;
  border: none;
  width: auto;
  overflow: visible;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

input {
  border: none;
  background: none;
}

li {
  list-style: none;
}
