@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap");
@import "./vars";
@import "./navbar";
@import "./song";
@import "./music";
@import "./progressbar";
@import "./settings";
@import "./player";
@import "./home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Raleway;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 0.7rem;
  position: fixed;
}

::-webkit-scrollbar-track {
  background-color: $bg;
}

::-webkit-scrollbar-thumb {
  background-color: $bgl;
}

html,
body,
#root {
  min-height: 100vh;
  background: $bg;
  overflow: hidden;
}

.header {
  font-size: 3.2rem;
  margin-left: 15%;
  margin-bottom: 2rem;
}

main {
  position: relative;
  top: 6rem;
  height: calc(100vh - 5rem);
  overflow: auto;
}

img {
  max-height: 90%;
  max-width: 90%;
}

a,
a:hover,
a::-moz-focus-inner,
a::-moz-focus-outer {
  text-decoration: none;
  outline: none;
  border: none;
}

hr {
  height: 2px;
  width: 90%;
  color: #dfdfdf85;
  margin: 2rem auto;
}

button {
  background: none;
  border: none;
  width: auto;
  overflow: visible;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

input {
  border: none;
  background: none;
}

li {
  list-style: none;
}
