@import "./vars";

.music {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  .header-wrapper {
    @include flex-box(space-between);

    width: 100%;
    top: 0;
    padding-right: 6.9rem;
    padding-left: 1rem;
  }

  .music-names {
    margin-top: 1rem;
  }

  .result {
    @include flex-box;

    .download {
      max-height: 2rem;
    }
  }
}
.has-dot3 {
  .dot3 {
    width: 2rem;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    .dot3 {
      opacity: 1;
    }
  }
}

.context-menu {
  position: fixed;
  padding: 0.6rem 0;
  border-radius: 0.3rem;
  background-color: $bgm;
  transform: translate(-50%, 0.6rem);
  div {
    padding: 0.2rem 1rem;
    transition: 0.2s;
  }

  div:hover {
    background-color: $highlightd;
    cursor: pointer;
  }
}

.buttons {
  @include flex-box(flex-start);
  width: auto;

  button {
    margin-left: 7%;
    background: $highlightvd;

    padding: 0.75rem 1.5rem;
    transition: 0.3s;
    border-radius: 0.4rem;
    &:hover {
      background-color: $highlight;
    }
  }
}
