@import "./vars";

.music {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  .music-names {
    margin-top: 1rem;
  }

  .result {
    @include flex-box;

    .download {
      max-height: 2rem;
    }
  }
}
