@import "./vars";

.music {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  .header-wrapper {
    @include flex-box(space-between);

    width: 100%;
    top: 0;
    padding-right: 6.9rem;
    padding-left: 1rem;
  }

  .header {
    position: sticky;
    top: 0;
  }

  .music-names {
    margin-top: 1rem;
  }

  .result {
    @include flex-box;

    .download {
      max-height: 2rem;
    }
  }

  .no-results {
    font-size: 1.3rem;
    margin: 2rem;
  }
}
