@import "./vars";

.navbar {
  @include flex-box(space-between);

  height: 5rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: $bg;

  .identifier {
    @include flex-box;

    height: 100%;
    margin-left: 1rem;
  }

  .routes {
    @include flex-box(space-evenly);

    height: 100%;
    margin-right: 1.3rem;
  }

  .logo {
    max-height: 60%;
  }

  .link {
    font-size: 1.2rem;
    margin: 1rem;
    text-decoration: none;
    transition: color 100ms linear;

    &:hover {
      color: $highlightl;
    }
  }

  .active:after {
    animation: expand-bottom 500ms ease;
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    background: $highlight;
  }
}

.back {
  height: 1.6rem;
  width: 0;
  transform: translateX(-3rem);
  margin: 0;
  transition: 0.5s;

  &.show {
    padding: 0.6rem;
    width: 2.4rem;
    height: 2.4rem;
    transform: translateX(0);
    margin-right: 0.8rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.search {
  @include flex-box(flex-start, $direction: row-reverse);

  max-height: 100%;
  background-color: $bgl;
  padding: 0.5rem;
  border-radius: 0.6rem;
  width: calc(20vw + 1.4rem);
  max-width: calc(200px + 1.4rem);

  .search-box {
    width: 18vw;
    max-width: 170px;
  }

  .icon {
    height: 1.4rem;
    width: 1.4rem;
    margin: 0 2%;
  }
}

@keyframes expand-bottom {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
