@import "./vars";

.player-wrapper {
  @include flex-box(flex-start, flex-start, column);

  animation: pop-in 300ms ease-in-out;
  position: absolute;
  bottom: 0.7rem;
  height: 4.5rem;
  width: 70vw;
  left: 15vw;
  background-color: $bg;
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
  box-shadow: 0.2rem 0.2rem 20px 0.3rem rgba(0, 0, 0, 0.2), -0.2rem -0.2rem 20px 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.69rem;
  cursor: pointer;
}

.closed {
  transform: translateY(5.5rem);
}

.close {
  position: absolute;
  top: -0.6rem;
  right: 0.2rem;

  span {
    font-size: 2rem;
    display: inline-block;
    transform: rotate3d(1, 1, 0, 90deg);
    transition: transform 200ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &:hover span {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

.player {
  @include flex-box(space-between);

  height: 4.2rem;
  width: 100%;
  padding: 0.7rem 1rem;

  .details {
    @include flex-box(flex-start);

    height: 100%;
    flex: 1;

    .thumbnail {
      max-height: 100%;
      border-radius: 0.3rem;
      margin-right: 0.7rem;
    }

    .title {
      font-weight: 500;
    }

    .artist {
      margin-left: 0.8rem;
      font-weight: 300;
    }
  }

  .controls {
    @include flex-box;

    flex: 1;
    button {
      max-height: 100%;

      svg {
        height: 1.3rem;
        margin: 0.7rem;
        transition: opacity 100ms linear;
      }
    }
  }

  .end {
    @include flex-box(flex-start, $direction: row-reverse);

    flex: 1;

    .time {
      @include flex-box(flex-start, $direction: row-reverse);

      width: 9ch;
    }

    .control {
      @include flex-box;

      height: 1.6rem;
      margin: 0.4rem;
      cursor: pointer;
      path {
        transition: stroke 200ms linear;
      }

      &-volume {
        height: 1.6rem;
        width: auto;
      }

      &-slider-wrapper {
        position: absolute;
        top: -1rem;
        width: 8rem;
        height: 2rem;
        left: 0;
        transform-origin: left;
        transform: rotate(-90deg) translateY(0.75rem) translateX(-1rem);
        opacity: 0;
        background-color: $bg;
        box-shadow: -4px 2px 10px 2px rgba(0, 0, 0, 0.3), 4px -2px 10px 2px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        pointer-events: none;
      }

      &-slider {
        width: 7rem;
        height: 0.3rem;
        margin-top: 0.85rem;
        margin-left: 0.5rem;
        -webkit-appearance: none;

        &:focus {
          outline: none;
        }

        &::-webkit-slider-runnable-track {
          height: 0.3rem;
          background: darken($bg, 15%);
          margin-top: -1px;
          cursor: pointer;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          transform: translate(30%, -30%);
          cursor: pointer;
          background: $highlight;
          content: "23";

          &::before {
            content: "test";
            display: inline-block;
            width: 8rem;
            height: 0.3rem;
            background-color: $highlight;
          }
        }
      }
      &:hover .control-slider-wrapper {
        transform: rotate(-90deg) translateY(0.75rem) translateX(0);
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.timeline {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  height: 0.3rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: 0.3rem;
    -webkit-appearance: none;
    color: $highlight;
    margin-top: -1px;
  }

  &::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 0.3rem;
    cursor: ew-resize;
    background: transparent;
    box-shadow: -100vh 0 0 100vh $highlight;
  }
}

@keyframes pop-in {
  from {
    transform: translateY(5rem);
  }

  to {
    transform: translateY(0rem);
  }
}

// @keyframes appear {
//   from {
//     transform: translateX(-1rem);
//     opacity: 0;
//     display: none;
//   } to {

//   }
// }
