@import "./vars";

.player-wrapper {
  @include flex-box(flex-start, flex-start, column);

  animation: pop-in 300ms ease-in-out;
  position: absolute;
  bottom: 0.4rem;
  border-radius: 0.2rem;
  height: 4.5rem;
  width: 70vw;
  left: 15vw;
  background-color: $bgm;
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.closed {
  transform: translateY(5rem);
}

.close {
  position: absolute;
  top: -0.6rem;
  right: 0.2rem;

  span {
    font-size: 2rem;
    display: inline-block;
    transform: rotate3d(1, 1, 0, 90deg);
    transition: transform 200ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &:hover span {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

.player {
  @include flex-box(space-between);

  height: 4.2rem;
  width: 100%;
  padding: 0.7rem 1rem;

  .details {
    @include flex-box(flex-start);

    height: 100%;
    flex: 1;

    .thumbnail {
      max-height: 100%;
      border-radius: 0.3rem;
      margin-right: 0.7rem;
    }

    .title {
      font-weight: 500;
    }

    .artist {
      margin-left: 0.8rem;
      font-weight: 300;
    }
  }

  .controls {
    @include flex-box;

    flex: 1;
    button {
      max-height: 100%;

      svg {
        height: 1.3rem;
        margin: 0.7rem;
        transition: opacity 100ms linear;
      }
    }
  }

  .end {
    @include flex-box(flex-start, $direction: row-reverse);

    flex: 1;

    .time {
      @include flex-box(flex-start, $direction: row-reverse);
    }

    .control {
      height: 1.6rem;
      margin: 0.4rem;
      cursor: pointer;
      path {
        transition: stroke 200ms linear;
      }
    }
  }
}

.timeline {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  height: 0.3rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    height: 0.3rem;
    -webkit-appearance: none;
    color: $highlight;
    margin-top: -1px;
  }

  &::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 0.3rem;
    cursor: ew-resize;
    background: transparent;
    box-shadow: -100vh 0 0 100vh $highlight;
  }
}

.timeline-span {
  display: inline-block;
  background-color: #dada19;
  height: 0.3rem;
  width: 100%;
}

@keyframes pop-in {
  from {
    transform: translateY(5rem);
  }

  to {
    transform: translateY(0rem);
  }
}
