@import "./vars";

.settings {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 4%;
  padding-top: 0;

  .setting {
    @include flex-box(space-between);

    width: 90%;
    margin: 2rem auto;
  }

  .name {
    font-size: 1.3rem;

    span {
      background-color: $bgm;
      padding: 0.4rem 0.7rem;
      border-radius: 0.4rem;
      font-family: monospace;
      font-size: 0.8em;
      margin-left: 1rem;
    }
  }

  .change {
    background: $highlightd;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s linear;
    border-radius: 0.3rem;

    &:hover {
      background-color: $highlight;
    }
  }

  .center {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.number-selection {
  @include flex-box(space-evenly);

  height: 3rem;
  background-color: $bgm;
  border-radius: 1.3rem;
  width: 4.5rem;
  margin: 0 2rem;
  transition: 0.6s;

  .num {
    font-size: 1.6rem;
    margin: 0 0.8rem;
    transform: translateY(-0.15rem);
    user-select: none;
  }

  svg {
    height: 1.3rem;
    transform: translateX(1rem) scale(0.7);
    opacity: 0;
    pointer-events: all;

    transition: 0.4s;
  }

  .rev {
    transform: translateX(-1rem) scale(0.7);
  }

  &:hover {
    cursor: pointer;
    background-color: $highlightd;
    width: 8.5rem;
    margin: 0;

    svg {
      opacity: 1;
      transform: translateX(0) scale(1);
      transition: 0.4s 0.2s;
    }
  }
}

.toggle {
  width: 4rem;
  height: 2rem;
  // background-color: $bgm;
  border-radius: 1rem;
  overflow: hidden;
  background-color: $bgl;
  cursor: pointer;

  transition: 0.3s;

  .button {
    display: inline-block;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0.25rem;
    transform: translateX(0);
    z-index: 2;

    transition: background-color 0.3s,
      transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .color {
    display: inline-block;
    border-radius: 0.3rem;
    z-index: 1;
    transform: translateX(-4rem);
    background-color: $highlight;
    width: 4rem;
    height: 2rem;

    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .toggled.button {
    transform: translateX(2rem);
  }

  .toggled.color {
    transform: translateX(0);
  }
}
