@import "./vars";

.song {
  @include flex-box;

  width: 95%;
  margin: 1.5rem auto;
  padding: 1.5rem 2.5rem 1.5rem 3rem;
  cursor: pointer;
  transition: background-color linear 140ms;
  border-radius: 0.5rem;

  .thumbnail {
    flex: 1;
    border-radius: 0.8rem;
    max-height: 5rem;
    max-width: 5rem;
  }

  .details {
    flex: 9;
    padding-left: 3rem;

    p {
      margin-left: 0.7rem;
      margin-top: 0.3rem;
    }
  }

  &:hover {
    background-color: $bglo;
  }

  .length {
    margin-right: 2rem;
  }
}
