$bg: rgb(27, 27, 27);
$bgml: rgb(38, 38, 38);
$bgm: rgb(51, 51, 51);
$bgl: rgb(75, 74, 74);
$bglo: rgba(90, 90, 90, 0.5);
$highlightvd: rgb(5, 63, 149);
$highlightd: rgb(5, 79, 190);
$highlight: rgb(23, 99, 212);
$highlightl: rgb(71, 135, 231);

@mixin flex-box($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
